@using TTCM_EcoMart.Models;
@model List<tblCategory>

@foreach(var item in Model) { 
    if(item.Gender == 1) 
    {
        <a href="#" class="category-item">
            <div class="category-name">@item.Kinds</div> 
        </a>
    }
}
